---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Hero from "@/components/widgets/hero.astro";
import Footer from "@/components/widgets/footer.astro";
---


<Layout title="Aroma Peris">
    <main>
        <Hero />
        <Footer />
    </main>
</Layout